[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython ="*"
werkzeug = "==2.1.2"
flask = "==2.1.2"
flask-restx = "==0.5.1"
flask-json = "*"
pyyaml = "*"

[requires]
python_version = "3.11"
