<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <title>Annotapp Web Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
        <link rel="stylesheet" href="/static/css/home.css">
    </head>
    {% endblock %}

    {% block body %}
    <body>
        <h1>Annotapp</h1>

        <img id="imgid" class="image" src="" />
        <div class="buttons">
            <button type="button" id="undolast" accesskey="u">Undo Last</button>
            <button type="button" id="related" accesskey="r">Related</button>
            <button type="button" id="notrelated" accesskey="n">Not Related</button>
        </div>
        <div class="error"></div>
    </body>
    {% endblock %}
</html>

{% block javascript %}
<script type="module">
    // Give the imported MVC components a namespace
    import * as MVC from "/static/js/home.js";

    // Create an intentional global variable referencing the import
    window.mvc = MVC;
</script>
{% endblock %}